{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

  <!-- Logo / Search Bar / Search Buttons -->
  <div class="page">
  <h1>404</h1>
  <h4>The Page you Requested Could not be Found</h4>
  <br>
    <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">
    <form method="POST" action="">
      <input class="search" maxlength="2048" name="query" type="text" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" role="combobox" spellcheck="false" title="Search" value="{{q}}" aria-label="Search">
      <br>
      <br>
      <h6>Did Travel Search Cause that? <a href="mailto:travelsearch@calebhoff.com">Let us know<a></h6>
      <div class="Bcontainer">
        <input class="button left" type="submit" name="submit" value="Travel Search"></input>
        <input class="button" type="submit" name="submit" value="Advanced Search"></input>
      </div>
    </form>
  </div>

{% endblock %}