{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}

  <!-- Logo / Search Bar / Search Buttons -->
  <span>
    <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}">
    <form method="POST" action="">
      <input class="search" maxlength="2048" name="query" type="text" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" role="combobox" spellcheck="false" title="Search" value="{{q}}" aria-label="Search">
      <input class="button" type="submit" name="submit" value="Travel Search"></input>
      <input class="button" type="submit" name="submit" value="Advanced Search"></input>
    </form>
  </span>

  <!-- Results Info -->
  <div>
    <p>Results in {{'%0.4f'| format(time|float)}} seconds</p>
    <p>Expanded Query: {{ eq }}</p>
  </div>

  <!-- Search Results -->
  <div class="results-container row">
    <div class="column">
    <p>No Clustering</p>
    {% for result in results1 %}
      <div class="result"> <!-- TODO: Finalize Schema -->
        <div class="result-url">{{ result['url'] }}</div>
        <a href="{{ result['url_to'] }}" class="result-title">{{ result['title'] }}</a>
        <div class="result-text">{{ result['desc'] }}</div>
      </div>
    {% endfor %}
    </div>

    <div class="column">
    <p>Clustering Method #1</p>
      {% for result in results2 %}
        <div class="result"> <!-- TODO: Finalize Schema -->
          <!-- <div class="result-url">{{ result['url'] }}</div> -->
          <!-- <a href="{{ result['url_to'] }}" class="result-title">{{ result['title'] }}</a> -->
          <!-- <div class="result-text">{{ result['desc'] }}</div> -->
          <a href="{{ result }}" class="result-url">{{ result }}</a>
        </div>
      {% endfor %}
      </div>

      <div class="column">
      <p>Clustering Method #2</p>
        {% for result in results3 %}
          <div class="result"> <!-- TODO: Finalize Schema -->
            <!-- <div class="result-url">{{ result['url'] }}</div> -->
            <!-- <a href="{{ result['url_to'] }}" class="result-title">{{ result['title'] }}</a> -->
            <!-- <div class="result-text">{{ result['desc'] }}</div> -->
            <a href="{{ result }}" class="result-url">{{ result }}</a>
          </div>
        {% endfor %}
      </div>

      <div class="column">
      <p>Clustering Method #3</p>
        {% for result in results4 %}
          <div class="result"> <!-- TODO: Finalize Schema -->
            <!-- <div class="result-url">{{ result['url'] }}</div> -->
            <!-- <a href="{{ result['url_to'] }}" class="result-title">{{ result['title'] }}</a> -->
            <!-- <div class="result-text">{{ result['desc'] }}</div> -->
            <a href="{{ result }}" class="result-url">{{ result }}</a>
          </div>
        {% endfor %}
      </div>
  </div>

{% endblock %}

<script>
  handler(a) {
    return function(e) {
      console.log('Hello ' + a); // Hello world
    }
  }
  </script>